Manifest.toml
*/Manifest.toml
*.vscode
*.pdf
.DS_Store

data/RPA_Dielectric/graphene.in.phonon.1.dforces
data/RPA_Dielectric/graphene.in.phonon.1.eigenvals
data/RPA_Dielectric/graphene.in.phonon.1.fillings
data/RPA_Dielectric/graphene.in.phonon.1.Vscloc
data/RPA_Dielectric/graphene.in.phonon.1.wfns
data/RPA_Dielectric/graphene.in.phonon.2.dforces
data/RPA_Dielectric/graphene.in.phonon.2.eigenvals
data/RPA_Dielectric/graphene.in.phonon.2.fillings
data/RPA_Dielectric/graphene.in.phonon.2.Vscloc
data/RPA_Dielectric/graphene.in.phonon.2.wfns
data/RPA_Dielectric/graphene.in.phononBasis
data/RPA_Dielectric/graphene.in.eigenvals
data/RPA_Dielectric/graphene.in.fillings
data/RPA_Dielectric/graphene.in.wfns
data/RPA_Dielectric/wannier.mlwfBandContrib
data/RPA_Dielectric/wannier.mlwfBandRanges
data/RPA_Dielectric/wannier.mlwfCellMap
data/RPA_Dielectric/wannier.mlwfCellMapPh
data/RPA_Dielectric/wannier.mlwfCellMapPhSum
data/RPA_Dielectric/wannier.mlwfCellWeights
data/RPA_Dielectric/wannier.mlwfD
data/RPA_Dielectric/wannier.mlwfH
data/RPA_Dielectric/wannier.mlwfHePh
data/RPA_Dielectric/wannier.mlwfHePhSum
data/RPA_Dielectric/wannier.mlwfM0
data/RPA_Dielectric/wannier.mlwfU
data/RPA_Dielectric/wannier.mlwfCellWeightsPh
